/* Folgende Werte stammen aus der ursprünglichen Aufgabe 2 */
.ablagestapel {border: thin dotted white;
				text-align: center;
				position: absolute;
				margin-top: 50px;
				background-color: #000000;
				color: #ffffff;
				width: 100px;
				height: 170px;
				right: 50px;
				top: 20px;
				border-radius: 5px;}

.nachziehstapel {border: thin dotted white;
				text-align: center;
				position: absolute;
				margin-top: 50px;
				background-color: #42f4e5;
				width: 100px;
				height: 170px;
				float: left;
				top: 20px;
				border-radius: 5px;}
				
/* Für spätere Aufgaben eventuell relevant
@media screen and (max-width: 570px) {
div {width: 92%}
.nachziehstapel {width: 70px;
				heigth: 120px;}
.ablagestapel {width: 70px;
				heigth: 120px;}
				
}
*/
