@import
	url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

#fieldset{
	font-family: 'Mountains of Christmas', cursive;
	color: blue;
	background-color: #ccffb3;
	width: 50%;
	border-radius: 5px;
	}


div br{
padding-top:2em;}
h1 {
	font-family: 'Mountains of Christmas', cursive;
	color: #FFD700;
}

h4{
padding:0em;
margin:0.2em;
text-decoration:underline;}


div{
	font-family: 'Mountains of Christmas', cursive;
	border: thin dotted white;
	width: 45%;
	float: left;
	font-size: 20px;
	background-color: #ccffb3;
	color: purple;
	right: 0;
	top: 87px;
	padding: 0.5em;
	border-radius: 5px;}

#verify {
	
	border: thin solid #56daea;
	bottom: 0px;
	right: 200px;
	border-radius: 5px;
	background-color: #56daea;
	color: #000000;
}

#incomplete {
	border: thin dotted black;
	
	background-color:;
	bottom: 0px;
	right: 20px;
	background-color: #f12727;
	color: #ffffff;
	border-radius: 5px;
}


#preis{
font-size:2em;
font-style:bold;}

